@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --prim-1: #f8f9faff;
  --prim-2: #e9ecefff;
  --prim-3: #dee2e6ff;
  --prim-4: #ced4daff;
  --prim-5: #adb5bdff;
  --prim-6: #6c757dff;
  --prim-7: #495057ff;
  --prim-8: #343a40ff;
  --prim-9: #212529ff;
  --player1: #21b0fe;
  --player2: #fe218b;
  --yellow: #fed700;
  --resultsScreen: rgb(206, 212, 218, 60%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 8px 16px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.btn::before {
  /* Position the pseudo-element. */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;

  /* Create the box shadow at expanded size. */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 200ms;
}

.btn:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 85vh 5vh;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: var(--prim-7);
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: white;
}

main {
  background-color: var(--prim-8);
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: var(--prim-7);
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 16px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.square.top {
  border-bottom: solid 4px var(--prim-5);
}
.square.bottom {
  border-top: solid 4px var(--prim-5);
}
.square.left {
  border-right: solid 4px var(--prim-5);
}
.square.right {
  border-left: solid 4px var(--prim-5);
}

footer {
  background-color: var(--prim-9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  background-color: var(--resultsScreen);
  height: 500px;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result > p {
  font-size: 2.5rem;
}

.result > button {
  margin-top: 16px;
  background-color: var(--prim-9);
  color: white;
}

.result > button:active {
  background-color: var(--prim-8);
}
